.proyectos{
    background-color: var(--color5);
    color: var(--color1);
    height: max-content;
    padding: 50px 0;
}

.proyectos > .container > h3{
    width: min-content;
    display: inline-block;
    border-bottom: 2px solid var(--color1);
    margin-bottom: 30px;
}

.proyectos > .container{
    display: flex;
    flex-direction: column;
}

.proyectos_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.proyecto_btn{
    border-left: 1px solid var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.proyecto_btn_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.proyecto_btn:first-child{
    border-left: none;
}

.proyecto_btn:hover .proyecto_btn_content{
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.proyecto_btn:active .proyecto_btn_content{
    animation: vibrating 0.5s infinite;
}

@keyframes vibrating {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(1deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-1deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.proyecto_btn_content > img{
    width: 30px;
    object-fit: cover;
    display: block;
}

.proyecto_btn_content > p{
    margin-top: 10px;
    font-size: 12px;
}

.proyecto_info{
    height: 100%;
}

.proyecto_info_preview{
    display: none;
    height: 100%;
    position: relative;
    z-index: 1;
}

.preview_img{
    width: 100%;
    height: 500px;
    position: relative;
}

.preview_img > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    top:0
}

.preview_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
    font-size: 12px;
    background: rgb(13,13,13);
    background: radial-gradient(1000px at 100% 90%, rgba(13,13,13,1) 0%, rgba(13,13,13,0.93) 30%, rgba(13,13,13,0) 80%);
    width: 100%;
    height: 100%;
    bottom: 0;
    top:0;
    right: 0;
    position: absolute;
    z-index: 20;
}

.preview_text > img{
    width: 80px;
    margin: 30px 100px 0 30px;
}

.preview_text > .insignia{
    width: 80px;
    margin: 5px 100px 0 30px;
}

.preview_text > h5{
    margin: 20px 30px 0 30px;
}
.preview_text > h5 > span{
    line-height: 18px;
    border-bottom: 1px solid var(--color3);
}

.preview_text > p{
    width: 350px;
    margin: 10px 30px 0 30px;
}

.preview_text > ul{
    list-style-type: disc;
    text-align: start;
    margin: 10px 30px 0 30px;
}

.preview_text_btns{
    display: flex;
    justify-content: center;
    margin: 10px 30px 10px 30px;
}

.preview_text_btns > a{
    border: 1px solid var(--color3);
    border-radius: 15px;
    padding: 7px;
    color: var(--color1);
    display: flex;
    align-items: center;
}

.preview_text_btns > a:last-child{
    margin-left: 10px;
}

.preview_text_btns > a:link{
    text-decoration: none;
}

.preview_text_btns > a > img{
    width: 20px;
    margin-right:5px;
}

.preview_text_btns > a:visited{
    text-decoration: none;
    color: var(--color1);
}

.preview_text_btns > a:hover{
    background-color: var(--color3);
    transform: scale(1.1);
    transition: transform 0.3s, background 0.2s;
}

.fade{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.proyecto_activo{
    display: initial;
}

@media screen and (max-width: 800px) {
    .proyectos_nav{
        flex-wrap: wrap;
    }

    .proyecto_btn{
        flex-basis: 33%;
        padding-bottom: 10px;
        height: 100px;
    }

    .proyecto_btn:nth-child(1){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(2){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(3){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(4){
        border-left: none;
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(5){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(6){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(7){
        border-left: none;
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(8){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(9){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(10){
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    .proyectos > .container > h3{
        align-self: center;
    }

    .preview_text{
        background: radial-gradient(800px at 100% 100%, rgba(13,13,13,1) 0%, rgba(13,13,13,0.9) 30%, rgba(13,13,13,0) 80%);
    }

    .preview_text > h5{
        margin: 20px 10px 0 30px;
    }

    .preview_text > p {
        margin: 10px 10px 0 30px;
    }

    .preview_text_btns {
        margin: 10px 10px 10px 30px;
    }

    p {
        font-size: 10px;
    }

    .proyecto_btn_content > img {
        width: 30px;
    }
    
}

@media screen and (max-width: 450px) {
    .preview_text > img{
        margin: 30px 80px 0 30px;
    }

    .preview_text > p{
        width: 250px;
    }
}

@media screen and (max-width: 350px) {
    .proyecto_btn{
        flex-basis: calc(50% - 1px);
        padding-bottom: 10px;
        height: 100px;
    }
    .proyecto_btn_content > img {
        width: 25px;
    }

    .proyecto_btn:nth-child(1){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(2){
        border-bottom: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(3){
        border-left: none;
    }

    .proyecto_btn:nth-child(4){
        border-bottom: 1px solid var(--color1);
        border-left: 1px solid var(--color1);
    }

    .proyecto_btn:nth-child(5){
        border-left: none;
    }

    .proyecto_btn:nth-child(9){
        border-left: none;
        border-bottom: none;
    }

    .proyecto_btn:nth-child(10){
        border-left: 1px solid var(--color1);
    }
}